<ion-view class="profile-view">
  <ion-nav-title>
    <span>Anuncie Conosco</span>
  </ion-nav-title>
  <ion-content>
  <div>

    <div style="text-align: center; padding-top: 20px" dynamic-anchor-fix>
        <a ng-href="{{linkAnuncie}}">
          <img class="user-image" ng-src="img/banner.jpg">
        </a>
    </div>
   
   <hr></hr>
    <div> 
        <p style="text-align: justify; padding-left: 20px; padding-right: 20px">O Portal disponibiliza ao internauta informações diárias sobre polí­tica, saúde, artigos de minha autoria, entre outras notí­cias importantes pelo mundo, além da eficiência e integridade do seu conteúdo. Os programas de rádio e televisão além das redes sociais fazem parte também da nossa empresa de comunicação.</p>

        <p style="text-align: justify; padding-left: 20px; padding-right: 20px">Informamos que estamos disponibilizando o nosso espaço virtual para anúncios e parcerias produtivas.</p>
      </div>
   </div>
  </ion-content>
</ion-view>
