<ion-view class="profile-view">
  <ion-nav-title>
    <span>Perfil</span>
  </ion-nav-title>
  <ion-content>
    <div class="top-content row">
      <div class="profile-container">
        <div class="user-image-container">
          <pre-img ratio="_1_1" helper-class="rounded-image">
            <img class="user-image" ng-src="img/arrudabastos.jpg" spinner-on-load>
          </pre-img>
        </div>
        <div class="user-name">Arruda Bastos</div>
      </div>
      
    </div>
    <div class="bottom-content">
      <div class="user-bio">
        <p style="text-align: justify; padding-left: 10px; padding-right: 10px">Arruda Bastos é médico especialista em Saúde Pública e Gestão em Saúde, professor universitário dos cursos de medicina e enfermagem, ex-Secretário da Saúde do Estado do Ceará, escritor, radialista, e um dos Coordenadores do Movimento Médicos pela Democracia.</p>

        <p style="text-align: justify; padding-left: 10px; padding-right: 10px">É Membro da Sociedade Brasileira de Médicos Escritores e produtor, apresentador dos programas, Saúde em Dia na rÃáio Assunção AM 620 e Dimensão Total na TV Mais no canal 15 da Multiplay, e na internet TVMais.org.</p>

        <p style="text-align: justify; padding-left: 10px; padding-right: 10px">Blogueiro, mantem além do Portal Arruda Bastos, páginas no Twitter, Facebook, Instagram e Youtube.</p>
      </div>
    </div>
  </ion-content>
</ion-view>
